.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 20%;


}

img {
  margin:10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  position: -webkit-sticky;
  position: sticky;
  top: 0;

}


@media screen and (min-width: 480px) {
  .logo img {
    width: 50%;
    margin: 20%;
  }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .logo {
    width: 60%;

}
