{% extends 'base_employees.html' %}

{% block title %}
    confirm employee
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}




         <!-- Full-width columns: (hidden by default) -->



            <div>


            </div>
            <div >

                <h1> Confirm Employee </h1>

                <div class="generate_token_container">

                    <form action="{{  url_for('employees.confirm_emp_id',
                    id='{}'.format(id),
                    email='{}'.format(email),
                    role='{}'.format(role)

                    )  }}" method="post" style="width:100%">

                        <input type="text" class="generate_token" id="" name="confirm_emp_id" placeholder="enter employee id..."
                  required>

                        <button id="create_token"  type="submit" > confirm </button>


                      </form>

                </div>


            </div>



</div>





{% endblock %}