{% extends 'base_employees.html' %}

{% block title %}
    create password
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}




         <!-- Full-width columns: (hidden by default) -->



            <div>


            </div>
            <div >

                <h1> create employee password </h1>

                <div class="generate_token_container">
                    {{ item }}
                      <form action="{{  url_for('employees.create_emp_password')  }}" method="post" style="width:100%">

                        <input type="text" class="generate_token" id="password" name="password"
                               placeholder="enter password .." required>

                        <input type="text" class="generate_token" id="re_type_password" name="re_type_password"
                               placeholder="re-type password .." required>



                        <button id="create_token"  type="submit" > create password </button>


                            <div>




                            </div>

                      </form>
                </div>


            </div>



</div>





{% endblock %}