{% extends 'base_employees.html' %}

{% block title %}
    message
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}




         <!-- Full-width columns: (hidden by default) -->



            <div>


            </div>
            <div >

                <h1>  </h1>

                {{ message }}

                <div class="generate_token_container">

                        {{ message }}

                </div>


            </div>



</div>





{% endblock %}