{% extends 'base_fruuty.html' %}

{% block title %}
    my tokens
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}




         <!-- Full-width columns: (hidden by default) -->



            <div>


            </div>
            <div >



                <div class="generate_token_container">

                  <h1 style=" background-color:deeppink; color: white;"> My Tokens </h1>

                    <div style="background-color: yellow;">
                    <p> I have</p>
                    </div >
                    <p style="color: white; background-color: lime; width:50%; margin: auto;">
                    {{ user_tokens }}

                      <p style="color:black;"> available tokens </p>
                    </p>




                </div>










            </div>



</div>





{% endblock %}