{% extends 'base_fruuty.html' %}

    {% block title %}
        my transaction
    {% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}
    
         <!-- Full-width columns: (hidden by default) -->
        <h1> my transaction  </h1>
    
            <div class="generate_token_container">
             {{ user_transaction_list }}

            </div>

        <div class="generate_token_container">




            </div>
    
</div>

{% endblock %}