{% extends 'base_account_recovery.html' %}

{% block title %}
    Reset password
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}



    <div style="text-align:center">
          <h2> Reset password </h2>
          <p>  Type in your new password  </p>
    </div>

         <!-- Full-width columns: (hidden by default) -->
        <div id="b1" class="containerTab center" >

                  <h2> Reset password </h2>

                    <div class="divider">
                      <form action="{{ url_for('reset_password.reset_password') }}" method="post">

                        <label for="username"> Enter new password </label>
                       <input type="password" id="new_password" name="new_password" maxlength="64" min="6"
                                    placeholder="Enter new password" required>

                        <p> Re-type in your new password </p>
                        <input type="password" id="confirm_new_password" name="confirm_new_password" maxlength="64" min="6"
                               placeholder="Re-type new password" required><br>

                        <input  id="success-btn" type="submit" value="reset password">
                      </form>
                    </div>


        </div>



</div>





{% endblock %}