{% extends 'base_fruuty.html' %}

{% block title %}
    about
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}



 <div class="generate_token_container" >
     <h2 style="background-color:none;color:deeppink;">
         About Fruutty


     </h2>


<p>
    <p>
  Welcome to Fruutty, your ultimate destination for token money trading and product selling app!
     </p>

    At Fruutty,
  we believe in empowering individuals to take control of their financial futures through
  innovative peer-to-peer trading, exchanging, purchasing, selling, sharing solutions, monies and
  products and a user-friendly platform.

</p>

     <p>

     <h2 style="background-color:deeppink;color:white;" > Fruutty </h2>

         A webb platform used to exchange money token and sell product tokens

     </p>
<p >
   <h3 style="background-color:deeppink;color:white;" > Our Mission </h3>

     <div style="background-color:white;color:black;" >
Our mission is to make trading, exchanging, purchasing, selling and sharing of monies and product token
   accessible to everyone right from their devices and selling stalls without worrying about the bank (in its totality),
   regardless of their situation, condition characterised personality.
   We aim to simplify the trading, exchanging and selling process and provide our users with the tools and resources
   they need to make informed decisions in the ever-evolving world of token money
   trading, exchanging, purchasing, and sharing of monies and products tokens.
         </div>

</p>
<p>
 <h3 style="background-color:deeppink;color:white;">  What We Offer </h3>
      <div style="background-color:white;color:black;" >
Fruutty is designed with the user in mind. Our app offers a range of features to enhance
   your trading, exchanging, and sharing of monies and product token and general experience:

User-Friendly Interface: Navigate our intuitive platform with ease, whether you’re a seasoned user or
   just starting out.
Real-Time Market Data: we use and stay updated with live market trends, enabling us (Fruutty) and you
   (the Client or User) to make informed trading, exchanging and sharing decisions.
Secure Transactions: Your security is our priority. Fruutty uses advanced encryption and security protocols
   to protect your data and funds.
      </div>

</p>
<p>
  <h3 style="background-color:deeppink;color:white;" > How We Store Tokens </h3>
      <div style="background-color:white;color:black;" >

   To mitigate theft and fraud, Fruutty only allows a maximum of five thousand South African Rands
     (R5 000) tokens per user.
      </div>
</p>
<p>
  <h3 style="background-color:deeppink;color:white;" > Why Choose Fruutty? </h3>
      <div style="background-color:white;color:black;" >
Transparency: We believe in transparent trading, exchanging and sharing practices and provide our users
   with clear information about fees, and
   charges (should there arise any) and
   processes, and market conditions.
Customer Focus: Our dedicated support team is here to assist you with any questions or concerns you may have.
   We value your feedback and are committed to continuously improving your experience.
Innovative Technology: Fruutty utilizes cutting-edge technology to ensure fast and reliable trading experiences.
      </div>

</p>

   <p>
   <h3 style="background-color:deeppink;color:white;" > Join Us Today! </h3>
      <div style="background-color:white;color:black;" >
Whether you’re looking to trade, exchange, share or sell your first token or you’re a seasoned user
   seeking a robust platform,
   Fruutty is here to support you every step of the way. Join us in revolutionizing the way we trade tokens
   and take control of your financial future.

Thank you for choosing Fruutty. We look forward to being a part of your trading, exchanging and selling journey!

For more information, feel free to contact us at or
   visit our website at [<a href="www.fruutty.com "> www.fruutty.com </a>]. Happy trading!
      </div>

</p>
<p>

</p>
<p>

</p>
<p>

</p>
<p>

</p>





 </div>



</div>



{% endblock %}














