{% extends 'base_fruuty.html' %}

{% block title %}
    privacy policy
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}



 <div class="generate_token_container" >
     <h2 style="background-color:none;color:deeppink;">
         Fruutty Privacy Policy


     </h2>

<p>
    1. Data We Collect

</p>
<p>
    1.1 Data You Provide To Us
</p>
<p>
    Welcome to Fruutty. This Privacy Policy applies to Fruutty aka
    Fruutty token, aka FTVS services (the “Platform”), which include Fruutty
    web apps, apps, software and related services accessed via any platform or
    device that link to this Privacy Policy.

</p>
<p>
     <h2 style="background-color:deeppink;color:white;" >  Registration </h2>

To create an account you need to provide data including your username,
    email, password, address and/or mobile number, general location (e.g., city)
    For example, you must have an account in order to create, trade or share
    Fruutty tokens on Fruutty with other platform users. When you choose to share
    the information below with us, we collect and use it to operate and render our
    services as best possible to cater to the changing user, affiliates, and platform web app.


</p>
<p>
    Our Privacy Policy is to inform visitors regarding our policies with the collection,
    use, and disclosure of Personal Information if anyone decided to use our Service.
If you choose to use our Service, then you agree to the collection and use of information
    in relation to this policy. The Personal Information that we collect is used for providing
    and improving the Service. We will not use or share your information with anyone except as
    described in this Privacy Policy.
The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
    which are accessible at Fruutty official site unless otherwise defined in this Privacy Policy


</p>

<p>
     <h2 style="background-color:deeppink;color:white;" > Cookies  </h2>

Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
     These are sent to your browser from the websites that you visit and are stored on your device's
     internal memory.
This Service does to some required extent use these “cookies” explicitly. However, the app may use third-party code and
     libraries that use “cookies” as well to collect information and improve their services.
     <br>
     We and our service providers and business partners use cookies and other similar technologies
     (e.g., web beacons, flash cookies, etc.) (“Cookies”) to automatically collect information,
     measure and analyze how you use the Platform, including which pages you view most often and
     how you interact with content, enhance your experience using the Platform, improve the Platform,
     provide you with advertising, and measure the effectiveness of advertisements and other content.
     We and our partners also use Cookies to promote the Platform on other platforms and websites.


</p>
<p>
     <h2 style="background-color:deeppink;color:white;" > Service Providers  </h2>

We may employ third-party companies and individuals due to the following reasons:
•	To facilitate our Service;
•	To provide the Service on our behalf;
•	To perform Service-related services; or
•	To assist us in analysing how our Service is used.


</p>
<p>
    We want to inform users of this Service that these third parties have access to some
    personal data. The reason is to perform the tasks assigned to them on our behalf.
    However, they are obligated not to disclose or use the information for any other purpose.

</p>
<p>
    Fruutty also process your personal data on the ground that such processing is
    necessary to further our legitimate interests (including:
    (1) providing effective and innovative Services to our users; and (
    2) to detect, prevent or otherwise address fraud or security issues
    in respect of our provision of Services), unless those interests are
    overridden by your interest or fundamental rights and freedoms that require protections of personal data.

</p>
<p>

     <h2 style="background-color:deeppink;color:white;" > Automatically Collected Information </h2>

Usage Information. We collect information regarding your use of the Platform,
     e.g., how you engage with the Platform, including how you interact with content we show to you,
     the advertisements you view, videos you watch and problems encountered, browsing and search history,
     the content you like, the content you save to ‘My Favourites’, the users you follow and how you engage
     with mutual followers.


</p>

<p>
    Technical Information we collect about you. We collect certain information about the device you
    use to access the Platform, such as your IP address, user agent, mobile carrier, time zone settings,
    identifiers for advertising purposes, model of your device, the device system, network type, device IDs,
    your screen resolution and operating system, app and file names and types, keystroke patterns or rhythms,
    battery state, audio settings and connected audio devices. Where you log-in from multiple devices,
    we will be able to use your profile information to identify your activity across devices.
    We may also associate you with information collected from devices other than those you use to log-in to the Platform.

</p>

<p>
    Location Information. We collect information about your approximate location, including location
    information based on your SIM card and/or IP address. With your permission, we may also collect precise
    location data (such as GPS). In addition, we collect location information (such as tourist attractions,
    shops, or other points of interest) if you choose to add location information to your User Content.

</p>



 </div>



</div>



{% endblock %}














