{% extends 'base_fruuty.html' %}

{% block title %}
    terms and conditions
{% endblock  %}

{% block content %}

<div class="body html">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}



 <div class="generate_token_container" >
     <h2 style="background-color:none;color:deeppink;">
      Fruutty Terms and Conditions
     </h2>

     <h4> The following are our current governing which and are subject to change to the ever growing needs
         of Fruutty or Fruutty web app or app also known as Fruutty Token and or FTVS.</h4>

     <p>
         When you use our Services you agree to all of these Terms. Your use of our Services is also subject to
         our Cookie Policy and our Privacy Policy, which at this young current development stage, years, and
         process of our web app or app covers how we collect, use, share, and store your personal information.
     </p>
     <p>


         These Terms of Service reflect the way that Fruutty works, the laws that apply to our company, and certain
         things that we inherently believed to be true. As a result, these Terms of Service help define Fruutty’s
         relationship with you as you interact with our services.
     </p>

     <p>
         These terms and conditions are important and govern your use of the Fruutty token trading token,
         exchanging, and selling token web app (app).

     </p>

     <p>
         Our Terms of Service (“Terms”) are part of the User Agreement– a legally binding contract governing your
         use of Fruutty. You should read these Terms of Service (“Terms”) in full.

     </p>



<h2 style="background-color:deeppink;color:white;" > 1. Usage of the Services </h2>
You may use the Services only if you agree to form a binding contract with us and are not a person barred from receiving services under the laws of the applicable jurisdiction. In any case, you must be at least 13 years old to use the Services. If you are accepting these Terms and are using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so and have the authority to bind such entity to these Terms, in which case the words “you” and “your” as used in these Terms shall refer to such entity.
If you’re under the age required to manage your own Fruutty Account, you must have your parent or legal guardian’s permission to use a Fruutty Account. Please ask your parent or legal guardian to read these terms with you.
If you’re a parent or legal guardian, and you allow your child to use the services, then these terms apply to you and you’re responsible for your child’s activity on the services.
<p>

<h2 style="background-color:deeppink;color:white;" > 2. Changes To The Terms </h2>



We will and do amend these Terms from time to time, for instance when we update the functionality of our services, when we combine multiple apps or services operated by us or our affiliates into a single combined service or web app or app, or when there are regulatory changes. We will use commercially reasonable efforts to generally notify all users of any material changes to these Terms, such as through a notice on our Platform, however, you should look at the Terms regularly to check for such changes. We will also update the “Last Update” date at the top of these Terms, which reflect the effective date of such Terms. Your continued access or use of the Services after the date of the new Terms constitutes your acceptance of the new Terms. If you do not agree to the new Terms, you must stop accessing or using the Services by opting out willingly on self-conscience.
</p>

<p>
<h2 style="background-color:deeppink;color:white;" > 3 What you can share and do on Fruutty </h2>

We want people to use Fruutty and any of its related Products to express their financial freedom
     themselves and trade, exchange and share money tokens and product tokens that is
    important to them without the intervention of banks, but not at the expense of the
     safety and well-being of others or the
    integrity of our community users. You therefore agree not to engage in the
    conduct described below (or to facilitate or support others in doing so):
<p>
    <h2 style="background-color:deeppink;color:white;" > 3.1 You may not use our Products to do or share anything </h2>
<ul>
    <li>
        	That violates these Terms, or other terms and policies that apply to your use of our
        Products and to our users.

    </li>
    <li>
        	That is unlawful, misleading, discriminatory or fraudulent
    (or assists someone else in using our Products in such a way).

    </li>
    <li>
        	That you do not own or have the necessary rights to share.

    </li>
    <li>
        	That infringes or violates someone else's rights, including their
        intellectual property rights (such as by infringing another's copyright or
        trademark, or distributing or selling counterfeit or pirated goods),
        unless an exception or limitation applies under applicable law.

    </li>


</ul>






 </p>
<p>
    <div style="background-color:white">
     3.2	You may not upload viruses or malicious code, use the services to send spam or do
    anything else that could disable, overburden, interfere with or impair the proper working,
    integrity, operation or appearance of our services, systems or Products.

     <p>


3.3	You may not access or collect data from our Products using automated means
     (without our prior permission) or attempt to access data that you do not have permission to access.
</p>

 <p>
     3.4	You may not proxy, request or collect Product usernames or passwords, or misappropriate access tokens.

 </p>

 <p>
     3.5	You may not sell, license or purchase any data obtained from us or our services, except as provided
     in the Platform Terms.

 </p>

     <p>
         3.6	You may not misuse any reporting, flagging, dispute or appeals channel, such as by making fraudulent,
         duplicative or groundless reports or appeals.
We can remove or restrict access to content that is in violation of these provisions. We can also suspend or
         disable your account for conduct that violates these provisions.
If we remove content that you have shared in violation of the Community Standards, we'll let you know and explain
         any options you have to request another review, unless you seriously or repeatedly violate these Terms or
         if doing so may expose us or others to legal liability; harm our community of users; compromise or interfere
         with the integrity or operation of any of our services, systems or Products; where we are restricted due
         to technical limitations; or where we are prohibited from doing so for legal reasons.
To help support our community, we encourage you to report content or conduct that you believe violates your rights
         (including intellectual property rights) or our Terms and Policies, if this feature exists in your jurisdiction.
We also can remove or restrict access to content features, services or information if we determine that doing
         so is reasonably necessary to avoid or mitigate misuse of our services or adverse legal or regulatory
         impacts to Fruutty.


     </p>

 </div>
</p>



     <p>
         <h2 style="background-color:deeppink;color:white;" >  4. Disputes </h2>

     </p>

     <p>
         4.1 If there is a dispute about the web app service, the app terms and conditions will apply.

     </p>

4.2 If there is a dispute about your Fruutty account or another Fruutty service channel or product, the terms and
     conditions of that channel or product will apply.


     <p>
          <h2 style="background-color:deeppink;color:white;" >  5 . Account suspension or termination </h2>

     </p>

     <p>
         <div style="background-color:white">
         We want Fruutty to be a place where people feel welcome and safe to express themselves and share,
         trade and exchange their creativity and personal converted money or product token.
.
If we determine, in our discretion, that you have clearly, seriously or repeatedly breached our Terms or Policies,
         including, in particular, the Community Standards, we may suspend or permanently disable your access to
         Fruutty Products, and we may permanently disable or delete your account. We may also disable or delete your
         account if you repeatedly infringe other people's intellectual property rights or where we are required
         to do so for legal reasons.
We may disable or delete your account if, after registration, your account is not confirmed, your account
         is unused and remains inactive for an extended period of time or if we detect that someone may have
         used it without your permission and we are unable to confirm your ownership of the account.
Where we take such action, we'll let you know and explain any options you have to request a review, unless
         doing so may expose us or others to legal liability; harm our community of users; compromise or interfere
         with the integrity or operation of any of our services, systems or Products; where we are restricted due
         to technical limitations; or where we are prohibited from doing so for legal reasons.
You can  contact us if you think that we have disabled your account by mistake, on the provided contact information
         means on the Fruutty web app.
If you delete or we disable or delete your account, these Terms shall terminate as an agreement between you and us.
However if you personally delete or disable the account on your own conscious account, any money or product Fruutty
     token associated with the account or your account shall not be reimbursed.
     </div>

     </p>





      <h2 style="background-color:deeppink;color:white;" >  6. Liability </h2>

 <p>
     <div style="background-clor:white">

 </p>
     6.1 Where applicable and if you have granted your child access to the app,
     we will accept that you have given your child the necessary consent to
     perform the functions assigned to them in line with the Fruutty web app
     or app terms and condition, and we will not be liable for any loss or damage suffered, including fraud.
 <p>

 </p>
     6.2 Except where damage or loss arises directly or indirectly from our
     (or any person acting for or on our behalf) wilful misconduct or gross
     negligence, we will not be liable to you for any direct or indirect damage
     or loss that you may suffer because of the following:

     6.2.1 Your using the app.


         <p>    6.2.2 A person having gained access to any information or data.  </p>
         <p>    6.2.3  A direct or indirect compromise of your login details.  </p>
         <p>    6.2.4  Incorrect information having been given to us or to any person,
         including credit bureaus.  </p>
         <p>    6.2.5  A delay, failure, or malfunction of the app, for whatever reason.  </p>
         <p>   6.2.6 Your breach of the app terms and conditions. </p>
         <p>    6.2.8 Illegal access to or loss or corruption of your data.   </p>







<p>
6.2.9 Your modification of or tampering with operating system software,
    browser software or any other software packages or programs on your device used to access the app. </p> </li>



 </div>


     <h2 style="background-color:deeppink;color:white;" >      7. Intellectual Property </h2>
<div>
The content provided within the Fruutty app, including text, graphics, logos, and software,
    is the property of Fruutty or its licensors and is protected by copyright, trademark,
    and other intellectual property laws. You may not reproduce, modify, distribute,
    or create derivative works without our express written permission.
</div>

</p>

 </div>



</div>



{% endblock %}














